.block > img {
  width: 700px;
  height: 720px;
}

.block {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: light;
  font-size: 25px;
  line-height: 45px;

  text-align: left;

  color: #000000;
}
.block__description {
  margin: auto;
  padding-left: 20px;
}
.block__name{
    margin-bottom: 20px;
}