.header__logo {
  display: flex;
  width: 100px;
  object-fit: contian;
  padding: 0 20px;
  padding-top: 20px;
  font-family: BOEING-style;
  cursor: pointer;
  font-size: 25px;
}

.header__logo > img {
  height: 38px;
}
.header__navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  color: aliceblue;
  text-decoration: none;
  position: right;
  padding-right: 50px;
}
.header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: "transparent";
  z-index: 10;
  position: absolute;
}
.header__navbar li {
  display: inline-block;
  padding: 0px 20px;
  cursor:pointer;
}
.header.active {
  background: "white";
}
